.hora {
    background-color: rgb(250, 247, 247);
}

.aso {
    background-color: rgb(86, 244, 199);
}
.marques {
    background-color: rgb(222, 108, 42);
}
.hlld {
    background-color: rgb(173, 231, 168);
}
.bbdd {
    background-color: rgb(187, 102, 151);
}
.tutoria {
    background-color: rgb(245, 164, 164);
}
.fm {
    background-color: rgb(180, 188, 215);
}
.ipo {
    background-color: rgb(220, 253, 138);
}
.iso {
    background-color: rgb(197, 157, 253);
}
.sx {
    background-color: rgb(199, 157, 253);
}